* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Fira Code;
}

#root {
  width: 100vw;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  color: #262626;
  z-index: 10;
  /* position: fixed; */
}
.navbar h2 {
  padding: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: 0px 0px 10px 0.1px;
  font-weight: 500;

  margin: auto;
}
.navbar ul {
  display: flex;
  line-height: 40px;
}
.navbar ul li {
  padding: 20px;
  font-size: 1.2rem;
  text-align: right;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.cart {
  justify-content: right;

  margin: auto;
}
.click {
  outline: none;
  border: none;
  background: #fff;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 30px;
  border: 3px solid white;
}
.click:hover {
  border: 2px solid black;
}
.container {
  width: 90%;
  margin: auto;
  background: #ececec;
  border: 10px solid #ececec;
  border-radius: 50px;
}
.card {
  position: relative;
  margin: 50px auto;
  background: #fff;
  width: 90%;
  box-shadow: 0px 0px 15px 0.3px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 60px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}
.imageurl {
  width: 250px;
  border-radius: 50%;
}


.detail {
  display: flex;
  align-items: baseline;
  line-height: 40px;
  justify-content: center;
  padding: 20px;
  color: #2f2b2b;
}
.detail h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: auto;
}

.middle {
  margin: auto;
}
.middle h1 {
  font-weight: 500;
  font-size: 1.7rem;
}
.closeIt {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 45px;
  font-size: 1.2rem;
  background: #262626;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 40px;
  border: 4px solid #fff;
  cursor: pointer;
  transition: 0.6s ease-out;
}
.closeIt:hover {
  background: tomato;;
  color: white;
  font-size: 1.6rem;
  border: 4px solid tomato;
  text-align: center;
  line-height: 43px;
  transition: 0.6s ease-in-out;
}

.theLeft {

  margin: auto;
}
.theMiddle {
  position: relative;
  display: inline;
  margin: auto;
  background: #fff;
  padding: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 0.2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ececec;
  border-top: 2px solid #ececec;
  transition: 0.6s ease-in-out;

}
.theMiddle:hover{
  border-top: 2px solid #008aff;
  border-bottom: 2px solid #008aff;
  transition: 0.6s ease-in-out;
}
.theMiddle:hover .imageurl{
  transform: rotate(360deg);
  transition: 2s ease-in-out;
}
.theMiddle:hover .price{
  font-weight: 500;
  transition:0.6s ease-in-out;
}
.theRight {

  margin: auto;

}


.price {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  font-weight: 400;
  transition:0.6s ease-in-out;
}
.color ul{
  display: flex;
  line-height: 20px;
  /* justify-content: center; */
  align-items: center;
  margin: 15px 0;
}
.color li{
  cursor: pointer;
}
.black{
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0px 2px;
  margin: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.3);
}
.brown{
  background-color: brown;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0px 2px;
  margin: 5px;
  border: 1px solid brown;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.3);

}
.white{
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0px 2px;
  margin: 5px;
  border: 1px solid white;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);

}
.blue{
  background-color: cornflowerblue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0px 2px;
  margin: 5px;
  border: 1px solid cornflowerblue;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);

}
.white:hover, .brown:hover, .black:hover, .blue:hover{
  width: 22px;
  height: 22px;
}
#add {
  padding: 10px;
  background: #008aff;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  border: 2px solid #008aff;
  font-size: 1rem;
  transition: 0.6s ease-out;

}
#add:hover{
  border: 2px solid #014f92;
  background: #014f92;
  transition: 0.6s ease-in;

}
#do{
  padding: 10px;
  background: #008aff;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  border: 2px solid #008aff;
  font-size: 1rem;
  transition: 0.6s ease-out;
}
#do:hover{
  border: 2px solid tomato;
  background: tomato;
  transition: 0.6s ease-in;

}
.stock{
  margin: 15px 0px;
}
.title{
  margin: 15px 0;
}