* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Fira Code;
  align-items: center;
  justify-content: center;
}
#root {
  width: 100vw;
}

.navbar{
  display: flex;
  background-color: #ffffff;
  align-items: center;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.3);
  color: #262626;
  z-index: 2
}
.navbar h2{
  padding: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: 0px 0px 10px 0.1px;
  font-weight: 500;
}
.navbar ul{
  display: flex;
  line-height: 40px;
  text-align: right;
  align-items: right;
  justify-content: right;
}
.navbar ul li{
  padding: 20px;
  font-size: 1.2rem;
  text-align: right;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.click {
  outline: none;
  border: none;
  background: #fff;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 30px;
  border: 1px solid white;
}
.click:hover{
  border: 1px solid black;
}
.container{
  width: 90%;
  margin: ;
  background: #ececec;
  /* border: 3px solid red; */
}
.card{
  margin: 20px auto;
  /* border: 3px solid green;  */
  width: 90%;
  box-shadow: 0px 0px 15px 0.3px rgba(0, 0, 0, 0.2);
}